[Unit]
Description=CoinCrolonome
 
[Service]
Type=simple
 
User=pi
Group=pi
 
ExecStart=/home/pi/CoinCrolonome
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
