[Unit]
Description=CoinDalek
After=duckbase.service duckio.service lidar.service
Requires=duckbase.service duckio.service lidar.service
 
[Service]
Type=simple
 
User=pi
Group=pi

SupplementaryGroups=adm dialout cdrom sudo audio video plugdev games users input netdev gpio i2c spi
 
ExecStart=/home/pi/CoinDalek
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
