[Unit]
Description=UDP-serial connector
 
[Service]
Type=simple
 
User=pi
Group=pi
 
ExecStart=/home/pi/serduck/target/debug/serduck -s /dev/base -b 57600  -u 0.0.0.0:3456
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
